.class_container {
  max-width: 1176px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.card_container {
  position: relative;

  .coupon {
    position: absolute;
    display: flex;
    left: 12px;
    top: 12px;

    padding: 6px 8px;
    border-radius: 2px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;
}

.class_swiper_container {
  max-width: 1176px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  overflow-x: hidden;
}

.class_timedeal_top_node {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  padding: 0 7px;
  border-radius: 3px;
  margin-bottom: 8px;
  background-color: #1a1a1a;

  .inner_text_timedeal {
    padding-left: 7px;
  }
}

.class_bottom_node {
  margin-top: 4px;

  .heart {
    margin-left: 2px;
    margin-right: 4px;
  }
  .like {
    margin-left: 2px;
  }
}

.class_card_inner_node {
  display: flex;
  flex-direction: column;

  .horizon_sparator {
    margin: 8px 0;
    height: 1px;
    background-color: #fafafa;
  }

  .price_wrap {
    display: flex;
    flex-direction: row;
    align-items: center;

    p:nth-child(2), p:nth-child(3) {
      margin-left: 5px;
    }
  }
}

.carosel_spacing_box {
  margin-top: 72px;
}

.flex_row_center {
  display: flex;
  flex-direction: row;
  align-items: center;
}