.container {
  display: flex;
  flex-direction: row;
  background: transparent;
  height: 455px;
  padding: 0 32px;

  .carosel_container {
    width: 600px;
    padding-top: 40px;
    margin: 0;
  }

  .banner_text_wrap {
    padding-top: 56px;
    padding-left: 48px;
    min-width: 450px;
    .banner_title {
      line-height: 44px;
    }
    .banner_sub_title {
      opacity: 0.6;
      margin: 10px 0 0;
    }
  }
}

@media (min-width: 1240px) {
  .banner_wrap {
    width: 100%;
    max-width: 1176px;
    margin-left: auto;
    margin-right: auto;
  }
}